name: ci-github-action
on: 
  push:
    branches:
      - main
  pull_request:

jobs:
 ci:
   runs-on: ubuntu-latest 
   steps:
     - uses: actions/checkout@v4
     
     - uses: actions/setup-go@v6
       with:
         go-version: '1.25.1'
     - run: go version
   
     - name: golangci-lint
       uses: golangci/golangci-lint-action@v9
       with:
         version: v2.6
         
     - name: arduino/setup-task
       uses: arduino/setup-task@v2.0.0
       
     - run: task ci